<?xml version="1.0"?>
<config>
    <modules>
        <Dwyera_Pinpayoffline>
            <version>0.1.0</version>
        </Dwyera_Pinpayoffline>
    </modules>
    <global>
        <blocks>
            <pinpayoffline>
                <class>Dwyera_Pinpayoffline_Block</class>
            </pinpayoffline>
        </blocks>

        <helpers>
            <pinpayoffline>
                <class>Dwyera_Pinpayoffline_Helper</class>
            </pinpayoffline>
        </helpers>

        <models>
            <pinpayoffline>
                <class>Dwyera_Pinpayoffline_Model</class>
            </pinpayoffline>
        </models>

        <!-- declare resource setup for new module -->
        <resources>
            <!-- resource identifier -->
            <pinpayoffline_setup>
                <!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
                    <!-- which module to look for install/upgrade files in -->
                    <module>Dwyera_Pinpayoffline</module>
                </setup>
                <!-- specify database connection for this resource -->
                <connection>
                    <!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </pinpayoffline_setup>
            <pinpayoffline_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pinpayoffline_write>
            <pinpayoffline_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pinpayoffline_read>
        </resources>
    </global>

    <!--<adminhtml>
        <layout>
            <updates>
                <pinpay>
                    <file>pinpay.xml</file>
                </pinpay>
            </updates>
        </layout>
    </adminhtml>-->

    <frontend>
        <!--<layout>-->
            <!--<updates>-->
                <!--<pinpay>-->
                    <!--<file>pinpay.xml</file>-->
                <!--</pinpay>-->
            <!--</updates>-->
        <!--</layout>-->

        <routers>
            <pinpay>
                <use>standard</use>
                <args>
                    <module>Dwyera_Pinpayoffline</module>
                    <frontName>pinpayoffline</frontName>
                </args>
            </pinpay>
        </routers>

    </frontend>

    <!-- declare default configuration values for this module -->
    <default>
        <!-- 'payment' configuration section (tab) -->
        <payment>
            <pinpay_offline>
                <!-- by default this payment method is inactive -->
                <active>1</active>
                <!-- model to handle logic for this payment method -->
                <model>pinpayoffline/paymentMethod</model>
                <!-- order status for new orders paid by this payment method -->
                <order_status>pending</order_status>
                <!-- default title for payment checkout page and order view page -->
                <title>Offline PinPayments (PinPayments)</title>
            </pinpay_offline>
        </payment>
    </default>

</config> 